* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* ===================== Common ===================== */
.section-heading {
    color: #10375c;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    color: #fff;
    font-size: 1.8rem;
    line-height: var(--height);
    text-align: center;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

/* ===================== Header ===================== */
.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--header-bg);
}

.header ~ * {
    margin-top: 170px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.header-cta__login,
.navbar__link {
    display: inline-block;
    padding: 4px 21px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #fff;
    text-shadow: 1px solid currentColor;
}

.navbar__link--active {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #fff;
    font-weight: 400;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-radius: 50%;
    background: #fff;
}

.header-cta__signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 7px;
    font-size: 1.6rem;
    line-height: 1.67;
}

/* ===================== Hero ===================== */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.143;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__rows {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    z-index: 1;
}

.hero__img:last-child {
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* ===================== Services ===================== */
.services__heading,
.services__desc {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.services__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services__list {
    width: 470px;
    margin-bottom: 55px;
}

.services__item {
    display: flex;
    justify-content: flex-end;
    padding: 22px;
    border-radius: 10px;
    transition: 0.25s;
}

.services__item:hover {
    box-shadow: 0px 14px 28px 0px #0000000D;
}

.services__item:hover .services__icon {
    color: #fff;
    background: var(--primary-color);
}

.services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 19px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px #0000000D;
    transition: 0.25s;
}

.services-item__heading {
    color: #10375c;
    font-weight: 600;
    font-size: 1.8rem;
}

.services-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
}
