* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* ===================== Common ===================== */
.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    color: #fff;
    font-size: 1.8rem;
    line-height: var(--height);
    text-align: center;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

/* ===================== Header ===================== */
.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.cta__login,
.navbar__link {
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #fff;
    text-shadow: 1px solid currentColor;
}

.navbar__link--active {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #fff;
    font-weight: 400;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-radius: 50%;
    background: #fff;
}

.cta__signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 28px;
    line-height: 1.67;
}
